.btn-warning {
    --bs-btn-color: #fff;
    --bs-btn-bg: #fd7e14;
    --bs-btn-border-color: none;
    --bs-btn-hover-color: #000;
    --bs-btn-hover-bg: #fff;
    --bs-btn-hover-border-color: #fd7e14;
    --bs-btn-focus-shadow-rgb: 217, 164, 6;
    --bs-btn-active-color: #000;
    --bs-btn-active-bg: #fd7e14;
    --bs-btn-active-border-color: none;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #000;
    --bs-btn-disabled-bg: #fd7e14;
    --bs-btn-disabled-border-color: #fd7e14;
}


.text-bg-dark {
    color: #fff !important;
    background-color: #0d6efd !important;
}


.custom-card {
  position: relative;
    /* overflow: hidden; */
}

.custom-card::before {
  content: "";
  position: relative;
  inset: 0;
  background: rgba(5, 0, 55, 0.64); /* Adjust opacity here */
  /* z-index: 1; */
}

.custom-card > * {
  position: relative;
  /* z-index: 2; */
}

span img{
    background-color: #0d6efd;
    padding: 10px;
    border-radius: 10px;
    
}






